[package]
name = "drone"
version = "0.1.0"
authors = ["Valentine Valyaeff <valentine.valyaeff@gmail.com>"]
edition = "2018"
license = "MIT OR Apache-2.0"
readme = "README.md"
repository = "https://github.com/drone-os/drone"
homepage = "https://drone-os.com"
description = "Drone OS command line utility."

[dependencies]
exitfailure = "0.5"
failure = { version = "0.1", features = ["derive"] }
structopt = "0.2"
